* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
}
/* common */

.container {
  max-width: 1920px;
}

/* Header Styles */

.header {
  background-color: #cdff9a;
}

.header-container {
  height: 125px;
  padding: 24px 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  weight: 151px;
  height: 77px;
  color: #07272e;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav a {
  text-decoration: none;
  color: #2c3e50;
  font-weight: 600;
  font-size: 23px;
  transition: color 0.3s;
  position: relative;
}

.header-icons {
  display: flex;
  gap: 20px;
}

.header-icons img {
  cursor: pointer;
}

/* mega  menu */
.has-mega-menu {
  position: relative;
}

.mega-menu {
  position: absolute;
  top: 100%;
  left: -720px;
  width: 100vw;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 40px 96px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
}

.has-mega-menu:hover .mega-menu {
  visibility: visible;
  opacity: 1;
  top: 75px;
  transform: translateY(0);
}

.mega-menu-left {
  display: flex;
  align-items: center;
  flex: 1;
}

.mega-menu-left ul {
  width: 274px;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.mega-menu-left li {
  padding: 20px 10px;
  padding-left: 24px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid #cdcdcd;
}

.mega-menu-left li:hover {
  background-color: #f3f3f3;
}

.mega-menu-right {
  flex: 3;
  display: flex;
  gap: 20px;
}

.mega-menu-right .item {
  text-align: center;
}

.mega-menu-right .item img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.mega-menu-right .item p {
  margin-top: 8px;
  font-weight: 500;
}

/* banner  */
.banner {
  display: flex;
  height: calc(100vh - 125px);
}

/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  background-color: #07272e;
  padding: 40px 25px;
  border-right: 2px #fff solid;
  width: 151px;
  height: calc(100vh - 125px);
}

.rotate {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #cdff9a;
  letter-spacing: 1px;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.social-icon {
  background-color: #333;
}

/* hero banner */
.hero {
  background-color: #07272e;
  height: calc(100vh - 125px);
  width: 100%;
  padding: 0 98px;
}

.hero-top {
  display: flex;
  justify-content: space-between;
}

.hero-right img {
  width: 862px;
  height: 700px;
}

.hero-left {
  position: relative;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.hero-left .number {
  font-size: 440px;
  font-weight: 600;
  color: rgba(104, 185, 17, 0.1);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 0;
  pointer-events: none;
}

.hero-left .content {
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.hero-left .subtitle {
  color: #cdff9a;
  font-size: 14px;
  letter-spacing: 2px;
}
.hero-left .content h1 {
  color: #fff;
  font-weight: 300;
  font-size: 55px;
  letter-spacing: 4px;
  line-height: 1.5;
}

.hero-left .view-more {
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  padding: 15px 10px;
  width: 130px;
  out-line: none;
  border: 1px #cdff9a solid;
  border-left: 20px #cdff9a solid;
}

.hero-top {
  text-align: left;
}

.hero-bottom {
  display: flex;
  justify-content: end;
  padding-top: 20px;
}
