* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 16px; /* Base size = 1rem */
}

/* common */

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

/* Header Styles */

.header {
  background-color: #cdff9a;
}

.header-container {
  height: 7.8125rem;
  padding: 1.5rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 9.4375rem;
  height: 4.8125rem;
  color: #07272e;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}

.nav a {
  text-decoration: none;
  color: #2c3e50;
  font-weight: 600;
  font-size: 1.4375rem;
  transition: color 0.3s;
  position: relative;
}

.header-icons {
  display: flex;
  gap: 1.25rem;
}

.header-icons img {
  cursor: pointer;
}

/* mega menu */
.has-mega-menu {
  position: relative;
}

.mega-menu {
  position: absolute;
  top: 100%;
  left: -45rem;
  width: 100vw;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 6rem;
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.1);
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transform: translateY(1.25rem);
  transition: all 0.3s ease;
}

.has-mega-menu:hover .mega-menu {
  visibility: visible;
  opacity: 1;
  top: 4.6875rem;
  transform: translateY(0);
}

.mega-menu-left {
  display: flex;
  align-items: center;
  flex: 1;
}

.mega-menu-left ul {
  width: 17.125rem;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.mega-menu-left li {
  padding: 1.25rem 0.625rem;
  padding-left: 1.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  cursor: pointer;
  border-bottom: 1px solid #cdcdcd;
}

.mega-menu-left li:hover {
  background-color: #f3f3f3;
}

.mega-menu-right {
  flex: 3;
  display: flex;
  gap: 1.25rem;
}

.mega-menu-right .item {
  text-align: center;
}

.mega-menu-right .item img {
  width: 15.625rem;
  height: 15.625rem;
  object-fit: cover;
}

.mega-menu-right .item p {
  margin-top: 0.5rem;
  font-weight: 500;
}

/* banner */
.banner {
  display: flex;
}

/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  background-color: #07272e;
  padding: 2.5rem 1.5625rem;
  border-right: 0.125rem #fff solid;
  width: 9.4375rem;
  height: calc(100vh - 7.8125rem);
}

.rotate {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 1rem;
  color: #cdff9a;
  letter-spacing: 0.0625rem;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.social-icon {
  background-color: #333;
}

/* hero banner */
.hero {
  background-color: #07272e;
  height: calc(100vh - 7.8125rem);
  width: 100%;
  padding: 0 6.125rem;
}

.hero-top {
  display: flex;
  justify-content: space-between;
}

.hero-right img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.hero-left {
  position: relative;
  height: 43.75rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.hero-left .number {
  font-size: 27.5rem;
  font-weight: 600;
  color: rgba(104, 185, 17, 0.1);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 0;
  pointer-events: none;
}

.hero-left .content {
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.hero-left .subtitle {
  color: #cdff9a;
  font-size: 0.875rem;
  letter-spacing: 0.125rem;
}

.hero-left .content h1 {
  color: #fff;
  font-weight: 300;
  font-size: 3.4375rem;
  letter-spacing: 0.25rem;
  line-height: 1.5;
}

.hero-left .view-more {
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  padding: 0.9375rem 0.625rem;
  width: 8.125rem;
  out-line: none;
  border: 0.0625rem #cdff9a solid;
  border-left: 1.25rem #cdff9a solid;
}

.hero-top {
  text-align: left;
}

.hero-bottom {
  display: flex;
  justify-content: end;
  padding-top: 1.25rem;
}

/* Responsive */
@media (max-width: 1200px) {
  .header-container {
    padding: 1rem 3rem;
  }

  .mega-menu {
    flex-direction: column;
    padding: 1.25rem;
  }

  .mega-menu-left,
  .mega-menu-right {
    width: 100%;
    flex: unset;
  }

  .hero {
    flex-direction: column;
    padding: 2.5rem 1.25rem;
  }

  .hero-top {
    flex-direction: column;
  }

  .hero-left,
  .hero-right {
    width: 100%;
  }

  .hero-left .number {
    font-size: 12.5rem;
  }

  .hero-right img {
    width: 100%;
    height: auto;
  }
}
