* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

/* common */

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

/* Header Styles */

.header {
  background-color: #cdff9a;
  position: relative;
}

.header-container {
  height: 7.8rem;
  padding: 1.5rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 9.4rem;
  height: 4.8rem;
  color: #07272e;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 3px;
  width: 0;
  background-color: #333;
  transition: width 0.3s ease;
}

.nav a:hover::after {
  width: 50%;
}

.nav a {
  text-decoration: none;
  color: #2c3e50;
  font-weight: 600;
  font-size: 1.4rem;
  transition: color 0.3s;
  position: relative;
}

.header-icons {
  display: flex;
  gap: 1.25rem;
}

.header-icons img {
  cursor: pointer;
}

.mega-menu {
  position: absolute;
  left: 0;
  top: 80%;
  width: 100vw;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 6rem;
  box-shadow: 0 0.3rem 0.9rem rgba(0, 0, 0, 0.1);
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transform: translateY(1.25rem);
  transition: all 0.3s ease;
}

.hide {
  visibility: visible;
  opacity: 1;
  transform: translateY(1.5rem);
}

.mega-menu-left {
  display: flex;
  align-items: center;
  flex: 1;
}

.mega-menu-left ul {
  width: 17rem;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.mega-menu-left li {
  padding: 1.25rem 0.6rem;
  padding-left: 1.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  cursor: pointer;
  border-bottom: 0.06rem solid #cdcdcd;
}

.mega-menu-right {
  flex: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}

.mega-menu-right .item {
  text-align: center;
}

.mega-menu-right .item img {
  width: 15.6rem;
  height: 15.6rem;
  object-fit: cover;
}

.mega-menu-right .item p {
  margin-top: 0.5rem;
  font-weight: 500;
}

/* banner */
.banner {
  display: flex;
}

/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  background-color: #07272e;
  padding: 2.5rem 1.5rem;
  border-right: 0.125rem #fff solid;
  width: 9.5rem;
}

.rotate {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 1rem;
  color: #cdff9a;
  letter-spacing: 0.06rem;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.social-icon {
  background-color: #333;
}

/* hero banner */
.hero {
  background-color: #07272e;
  width: 100%;
  padding: 0 6.1rem;
}

.hero-top {
  display: flex;
  justify-content: space-between;
}

.hero-right img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.hero-left {
  position: relative;
  height: 43.75rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.hero-left .number {
  font-size: 27.5rem;
  font-weight: 600;
  color: rgba(104, 185, 17, 0.1);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 0;
  pointer-events: none;
}

.hero-left .content {
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.hero-left .subtitle {
  color: #cdff9a;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.hero-left .content h1 {
  color: #fff;
  font-weight: 300;
  font-size: 3.4rem;
  letter-spacing: 0.25rem;
  line-height: 1.5;
}

.hero-left .view-more {
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  padding: 0.9rem 0.6rem;
  width: 8.1rem;
  out-line: none;
  border: 0.06rem #cdff9a solid;
  border-left: 1.25rem #cdff9a solid;
}

.hero-top {
  text-align: left;
}

.hero-bottom {
  display: flex;
  justify-content: end;
  padding: 1.25rem 0;
}

@media (max-width: 1440px) {
  .mega-menu-left li {
    font-size: 0.9rem;
    padding: 1rem 0.4rem;
    padding-left: 1rem;
  }

  .hero-left .number {
    font-size: 20rem;
  }

  .hero-left .content h1 {
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 0.05rem;
    line-height: 1.2;
  }

  .mega-menu-right .item img {
    width: 10rem;
    height: 10rem;
  }
}
